:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --additional-text-color: #ffffff;
    --accent-color: #2196f3;
    --button-background: #f5f4fa;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    margin: 0;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  body {
    color: var(--secondary-text-color);
    font-family: roboto, sans-serif;
  }
  
  ul {
    list-style: none;
  }

  h2 {
    color: var(--secondary-text-color);
    margin-top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

/* header */

.logo {
  margin-right: 93px;
}

.nav {
  display: flex;
  margin-right: auto;
}

.navigation {
  margin: 0;
  width: 313px;
  padding: 0px;
  display: flex;
  
}

.navigation-item:not(:first-child) {
  margin-left: 50px;
}

.header {
    padding: 0 15px;
    width: 1200px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  header::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ECECEC;
  }

  .links-nav {
    padding: 24px 0;
    color: var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .links-nav:hover,
  .links-nav:focus {
    color: var(--accent-color);
  }
  
  .links-contact {
    display: flex;
    align-items: center;
  }

  .contact-icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: #757575;
  }

  .links-contact:hover
  .contact-icon, 
  .links-contact:focus 
  .contact-icon {
    fill: var(--accent-color);
}

  .contact-icon:hover,
  .contact-icon:focus {
    fill: var(--accent-color);
  }

  .links-contact {
    padding: 24px 0;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .links-contact:hover,
.links-contact:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.current {
  color: var(--accent-color);
}
/* footer */

.footer-contacts {
  margin: 0;
  padding: 0;
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-boxes {
    padding: 0 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-contact {
    color: #ffffff;
  }

  .contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  
  .contact {
    color: var(--main-text-color);
  }

/* studio */

/* hero */

h1 {
    margin: 0px 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }

.hero {
    margin: 0 auto;
    height: 600px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f303a;
    background-image: linear-gradient(#2F303A66, #2F303A66),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: right top;
  }

  .hero-box {
    max-width: 696px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--additional-text-color);
    background-color: var(--accent-color);
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
  }

/* qualities */

.qualities-boxes {
  padding: 0;
  margin: 0;
  display: flex;
}

.qualities-box {
  max-width: 270px;
}

.details::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/antenna.svg);
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.punctuality::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/clock.svg);
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.planning::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/diagram.svg);
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.technology::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/astronaut.svg);
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.qualities-box:not(:last-child) {
  margin-right: 30px;
}

.qualities-container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


.qualities {
    padding: 94px 0px;
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .qualities-title {
    color: var(--secondary-text-color);
  }
  
  .qualities-text {
    color: var(--main-text-color);
  }

  .qualities-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .qualities-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  

/* jobs */

.jobs-box:not(:nth-child(3n)) {
  margin-right: auto;
}

.jobs-container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.jobs-boxes {
  padding: 0;
  margin: 0;
  display: flex;
}

.jobs {
    padding-bottom: 94px;
  }

/* team */

.team-boxes {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.team-box:not(:last-child) {
  margin-right: 23px;
}

.team {
    padding: 94px 0px;
    background-color: #F5F4FA;
  }
  
.team-container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

  .dev {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .dev-photo {
    margin-bottom: 30px;
  }

  .dev-name {
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  p {
    color: var(--main-text-color);
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    background-color: #FFFFFF;
}
  
  .social-link-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

  .social-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
  }

  .social-links-item:not(:first-child) {
    margin-left: 10px;
  }

  .social-link:hover,
  .social-link:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }

  .social-link-icon:hover .social-link,
  .social-link-icon:focus .social-link {
    background-color: var(--accent-color);
  }

  /* clients */

  .clients {
    padding: 94px 0;
  }

  .clients-title {
    margin: 0;
  }

  /* portfolio */

ul {
  list-style: none;
}

.filter-btns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filters-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.filter-btn-box:not(:first-child) {
  margin-left: 8px;
}

.filter-btn {
  border-radius: 4px;
  padding: 6px 22px;
}

.filters {
    padding-top: 94px;
    padding-bottom: 34px;
    min-width: 1200px;
}

.gallery-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.gallery {
  padding-bottom: 94px;
}

  .gallery-type {
    margin-bottom: 20px;
  }

h3 {
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-boxes {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-box {
  width: 370px;
}

.gallery-box:not(:nth-last-child(-n + 3)) {
  padding-bottom: 30px;
}

.gallery-box:not(:nth-child(3n)) {
 margin-right: 30px;
} 

.gallery-text-box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

img {
  display: block;
}

  button {
    background-color: var(--button-background);
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  
  button:hover,
  button:focus {
    color: var(--additional-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
  }
  
  .gallery-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  
  .gallery-type {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
  
  